			
<div class="titulo" >
	<h1 class="tituloPrincipal senoPrimary visible fadeIn">Asignación de puntos</h1>
</div>

<section style="background-color:white;height:calc(100vh); display: inherit; width: 100%;" >

	<div ng-model="displayForm" id="cuerpoInicio" style="display: {{displayForm}}; width: 100%">

		<div class="cuerpo visible" style="height: 100%;">

			<div class="seccionCuerpo visible" style="height: 100%;">


				<md-content md-theme="formulario" style=" display:grid; background-color: white; overflow-x: hidden; height: 100%;background-image: url(img/puntaje-amate.jpg);background-size: 100% 100%; padding: 10px;">



					<div style="text-align: center; margin:auto; display: inline-table; padding: 20px; background: rgba(255, 255, 255, 0.65); border-radius: 28px;" id="marcoPremio" class="">

						<h2 class="mensajeFelicitaciones" ng-if="userInfo.cervixIndication == false && userInfo.breastIndication== true" style="    color: rgb(219, 39, 99);font-size: 20px;margin-bottom: 22px;">De acuerdo a tus respuestas, en este momento,TIENES INDICACIÓN de mamografía</h2>

						<h2 class="mensajeFelicitaciones" ng-if="userInfo.cervixIndication == true && userInfo.breastIndication== false" style="    color: rgb(0, 152, 169);font-size: 20px;margin-bottom: 22px;">De acuerdo a tus respuestas, en este momento, TIENES INDICACIÓN de citología vaginal</h2>

						<h2 class="mensajeFelicitaciones" ng-if="userInfo.cervixIndication == true && userInfo.breastIndication== true" style="    color: rgb(0, 152, 169);font-size: 20px;margin-bottom: 22px;">De acuerdo a tus respuestas, en este momento, TIENES INDICACIÓN de mamografía y citología vaginal</h2>


						<h2 class="mensajeFelicitaciones" ng-if="userInfo.cervixIndication == false && userInfo.breastIndication== false" style="    color: rgb(219, 39, 99);font-size: 20px;margin-bottom: 22px;">De acuerdo a tus respuestas, en este momento,NO TIENES INDICACIÓN de mamografía ni de citología</h2>

						<h2 style="width:100%; max-width:500px; margin:auto;font-size: 42px; color:#db2763 !important;">¡Felicitaciones!</h2>
						<h2 class="mensajeFelicitaciones"> Ahora sabes lo importante que es hacerte la mamografía y la citología vaginal para detectar a tiempo el cáncer de seno y prevenir el cáncer de cuello uterino.</h2>

					<!-- 	<div id="acompanamiento" class="noVisible">

							<h2 class="mensajeFelicitaciones" style="color:#db2763; font-size: 30px;">¿Deseas acompañamiento?</h2>

							<h2 class="mensajeFelicitaciones"> De acuerdo a tus respuestas es tiempo de que te hagas el examen de {{mensaje}}. Te gustaría que te contactáramos para ayudarte a sacar tu cita y estar al día en el cuidado de tu salud?
							</h2>

							<div style="display: inline-table; width: 100%; margin-top: 15px;" >

								<h2 class="mensajeFelicitaciones" style="color:#db2763; font-size: 24px;">¿Deseas ser contactada?</h2>

								<md-button  class="md-primary btnPrimaryCervix " id="btnReclamar" style=" max-width: 250px;  "
								ng-click="contactar(true)"> Si </md-button>

								<md-button  class="md-primary btnPrimaryCervix " id="btnReclamar" style=" max-width: 250px; background-color: rgb(216,67,21) !important; "
								ng-click="contactar(false)"> No </md-button>

							</div>
		
						</div>
 -->

						<form name="formularioForm" ng-show="userInfo.breastIndication == true && userInfo.examGiftBreast!=true && userInfo.examGiftBreast!=false && (userInfo.failedTries < 3 || userInfo.failedTries == undefined)" style="box-shadow: 0px 5px 6px -3px rgba(2, 2, 2, 0.2), 0px 9px 12px 1px rgba(219, 39, 99, 0.32), 0px 3px 16px 2px rgba(219, 39, 99, 0.22); padding: 15px; margin-bottom: 22px;">

							<md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px;">
								<label style="text-align: left !important;">Ingresa el código para reclamar el premio por EXAMEN DE MAMOGRAFÍA</label>

								<input name="codigob" ng-model="codigob" required placeholder="Ingresa un código en formato XXXX-XXXX-XXXX" ng-pattern="/[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}$/">

								<div class="hint" ng-show="showHints">El código aceptado debe tener el formato XXXX-XXXX-XXXX</div>

								<div ng-messages="formularioForm.codigob.$error">
									<div ng-message="pattern">Código valido tiene formato XXXX-XXXX-XXXX.</div>
									<div ng-message="required">El código es obligatorio.</div>
								</div>
							</md-input-container>

							<md-button  ng-click="validarCodigo(1)" class="primaryAmate" ng-disabled="!(formularioForm.$valid) || inTransaction" >
								Canjear código examen mamografía
							</md-button>

						</form>

						<h2 class="mensajeFelicitaciones" ng-show="userInfo.siftingBreast==false && userInfo.examGiftBreast==true" style="    color: rgb(0, 152, 169);font-size: 20px;margin-bottom: 22px;">Premio de examen por Mamografía entregado</h2>

						<h2 ng-show="userInfo.siftingCervix==false && userInfo.examGiftCervix==true" class="mensajeFelicitaciones" style="    color: rgb(0, 152, 169);font-size: 20px;margin-bottom: 22px;">Premio de examen por Citología entregado</h2>


						<form ng-show="userInfo.cervixIndication == true && userInfo.examGiftCervix != true && userInfo.examGiftCervix!=false && 
						(userInfo.failedTries < 3 || userInfo.failedTries == undefined)" name="formularioForm2" style="    box-shadow: 0px 5px 6px -3px rgba(2, 2, 2, 0.2), 0px 9px 12px 1px rgba(36, 128, 144, 0.51), 0px 3px 16px 2px rgba(37, 129, 145, 0.69); padding: 15px; margin-bottom: 22px;">

							<md-input-container class="md-block" flex-gt-sm style="margin-bottom: 0px;">
								<label style="text-align: left !important;">Ingresa el código para reclamar el premio por EXAMEN DE CITOLOGÍA</label>

								<input name="codigoc" ng-model="codigoc" required placeholder="Ingresa un código en formato XXXX-XXXX-XXXX" ng-pattern="/[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}$/" />

								<div class="hint" ng-show="showHints">El código aceptado debe tener el formato XXXX-XXXX-XXXX</div>

								<div ng-messages="formularioForm2.codigoc.$error">
									<div ng-message="pattern">Código valido tiene formato XXXX-XXXX-XXXX.</div>
									<div ng-message="required">El código es obligatorio.</div>
								</div>
							</md-input-container>

							<md-button  ng-click="validarCodigo(2)" class="oCervixPrimary" ng-disabled="!(formularioForm2.$valid) || inTransaction" >
								Canjear código examen citología
							</md-button>

						</form>

						<h3 ng-show="userInfo.examGiftCervix == false || userInfo.examGiftBreast== false" style="color:#db2763; font-size: 18px;">Estamos procesando la entrega de tu premio...</h3>
						
						<h3 class="mensajeFelicitaciones noVisible" style="color:#db2763; font-size: 18px;">En el transcurso del día llegará tu premio correspondiente a la recarga. ¡Muchas gracias por tu participación!</h3>
						

						<div id="recomendaciones" class="noVisible">

							<h2 class="mensajeFelicitaciones" style="text-align: left !important;"> Y recuerda siempre:</h2>
							<h2 class="mensajeFelicitaciones" style="text-align: left !important;">1. Evitas el cáncer cuando controlas el consumo de licor, dejas de fumar y tienes sexo CON condón.</h2>
							<h2 class="mensajeFelicitaciones" style="text-align: left !important;">2. Y la vacuna contra el virus del papiloma humano te protege contra el cáncer de cuello uterino.</h2>
							
						</div>	

						<h2 class="mensajeFelicitaciones" style="color:#db2763; font-size: 30px;">¡Importante!</h2>
						<h2 class="mensajeFelicitaciones"> Independiente de tu edad si tienes alguna masa, dolor, salida de líquido o molestia en el seno debes consultar al médico.
						</h2>
						<h2 class="mensajeFelicitaciones"> Sangrados vaginales anormales o dolor vaginal también requieren que consultes al médico.</h2>

						<h2 class="mensajeFelicitaciones"> Esta aplicación no receta, diagnostica o formula tratamientos ni reemplaza la consulta con un médico.</h2>

						<h2 class="mensajeFelicitaciones">Para más información contáctanos en </h2>
						<a href="amate@pfccap.com">amate@pfccap.com</a>

						<div style="widows: 100%;">
							<img class="visible imagenLogoWeb" src="img/logoAmateColor.png" style="width: 300px;">
						</div>


						<h2 class="mensajeFelicitaciones">Muchas gracias por tu participación</h2>

						<h2 class="mensajeFelicitaciones noVisible"  style="color:#db2763; font-size: 30px;">¡Tu recarga llegará en el transcurso del día!</h2>
					</div>


				</md-content>

			</div>

		</div> 

	</div>  

</section>
<div class="foot" style="height: 45px; width: 100%; background-color: #ff6390; color: white;">
	<p style="text-align: center;">Todos los derechos reservados | Ámate | 2017</p>
</div>
