			
<div class="titulo" >
	<h1 ng-model="user" class="tituloPrincipal senoPrimary visible fadeIn">ACERCA DE FPTC</h1>
</div>

<section style="background-color:white;height:calc(100%); display: inherit; width: 100%;" >

	<div ng-model="displayForm" id="cuerpoInicio" style="display: {{displayForm}}; width: 100%">

		<div class="cuerpo" style="height: 100%;">

			<div class="seccionCuerpo" style="height: 100%;">


				<md-content md-theme="formulario" class="panelInicio">

					<div class="cuerpoAplicacion" style="display: block; width: 100% !important; height: 100%; margin-left: 0px !important; overflow: auto;">

						<div class="izquierdaColumna" style=" height: 100%; width:50%;float: left; display: table;">


							<div class="centradoVertical" style="width: 100% !important; margin-left: 0px !important; display: grid !important; overflow-y: auto;">
								
								<div style="margin: auto;" class="leftContainerAbout">

									<img class="visible imagenPregunta" style="width: 60%;" src="img/logofptc.png" >


									<h2 class="h2Centered">​Nos enorgullece presentar a Ámate | Cuida tu salud, una herramienta tecnológica
										pensada para la mujer, desarrollada por la Fundación para la Prevención y
										Tratamiento del Cáncer (FPTC, Cali - Colombia) en alianza con Partners for Cancer
										Care and Prevention (PFCCAP, Baltimore, USA) que busca disminuir la carga
										individual y social que representan el cáncer de seno y de cuello uterino.</h2>

										<div style="display: inline-flex;">

											<div class="socialNetwork">
												<a href="http://pfccap.org/espanol/inicio.html" target="_blank" ><i class="fa fa-globe" style="color: #db2763;"></i></a>
												<md-tooltip md-direction="bottom">Página web</md-tooltip>											
											</div>

											<div class="socialNetwork">
												<a href="https://www.instagram.com/fptc_colombia/" target="_blank" ><i class="fa fa-instagram" style="color: #db2763;"></i></a>
												<md-tooltip md-direction="bottom">Instagram</md-tooltip>
											</div>

											<div class="socialNetwork">
												<a href="https://www.facebook.com/FPTCColombia/" target="_blank" ><i class="fa fa-facebook" style="color: #db2763;"></i></a>
												<md-tooltip md-direction="bottom">Facebook</md-tooltip>
											</div>


										</div>

									</div>

								</div>


							</div>


							<div class="izquierdaColumna" style=" height: 100%; width:50%;float: left; display: table;">


								<div class="centradoVertical" style="width: 100% !important; margin-left: 0px !important; display: grid !important; overflow-y: scroll;">

									<div style="margin: auto;">																

										<img class="visible imagenLogoWeb" src="img/logoAmateColor.png">


										

										<h2 class="h2Centered">​
											Con Ámate las mujeres podrán aprender sobre el cáncer de seno, el cáncer de cuello uterino y ser orientadas para el examen de detección temprana cuando la mujer lo necesite.
										</h2>

										<div style="display: inline-flex;">

											<div class="socialNetwork">
												<a href="http://amatecuidatusalud.pfccap.org/ " target="_blank" ><i class="fa fa-globe" style="color: #db2763;"></i></a>											
												<md-tooltip md-direction="bottom">Página web</md-tooltip>	
											</div>

										</div>

									</div>

								</div>


							</div>

						<!-- <div style="width:50%;height: calc(100%);background-color: #ed6790;float: right;" class="izquierdaColumna">
							<img class="visible imagenPregunta" src="img/logofptc.png" >
						</div> -->

					</div>

				</md-content>

			</div>

		</div> 

	</div>  

</section>
<div style="height: 45px; width: 100%; background-color: #ff6390; color: white;" >
	<p style="text-align: center;">Todos los derechos reservados | Ámate | 2017</p>
</div>
