			
<div class="titulo" >
	<h1 ng-model="user" class="tituloPrincipal senoPrimary visible fadeIn">Bienvenida</h1>
</div>

<section style="background-color:white;height:calc(100%); display: inherit; width: 100%;" >

	<div ng-model="displayForm" id="cuerpoInicio" style="display: {{displayForm}}; width: 100%">

		<div class="cuerpo" style="height: 100%;">

			<div class="seccionCuerpo" style="height: 100%;">


				<md-content md-theme="formulario" class="panelInicio">

					<div class="cuerpoAplicacion" style="display:inline; width:100% !important	;height: 100%;  margin-left:0px !important;">

						<div class="izquierdaColumna" style=" height: 100%; width:50%;float: left; display: table;">


							<div class="centradoVertical" style="width: 100% !important; margin-left: 0px !important; display: grid !important; overflow-y: scroll;">
								
							<div style="margin: auto;">
									<h2 class="h2Centered">¿Sabías que el cáncer de seno se puede detectar tempranamente, o que el cáncer de cuello uterino se puede prevenir?</h2>

								<h2 class="h2Centered"> Aprender sobre estos tipos de cáncer te permitirá vivir más y mejor</h2>

								<h2 class="h2Centered">¡Aprende sobre ellos!</h2>


						<!-- 		<h2 class=""  style="    font-size: 22px;">GRACIAS POR USAR NUESTRO APLICATIVO PARA EL APRENDIZAJE SOBRE LA <b>PREVENCIÓN DEL CANCER DE SENO Y CUELLO UTERINO</b></h2>
 -->
								<img class="visible imagenLogoWeb" src="../public/img/logoAmateColor.png" >
							</div>

							</div>
							

						</div>
						
						<div style="width:50%;height: calc(100%);background-color: #ed6790;float: right;" class="izquierdaColumna">
							<img class="visible imagenPregunta" src="../public/img/bienvenida.png" >
						</div>

					</div>

				</md-content>

			</div>

		</div> 

	</div>  

</section>
<div style="height: 45px; width: 100%; background-color: #ff6390; color: white;" >
	<p style="text-align: center;">Todos los derechos reservados | Ámate | 2017</p>
</div>
